/* @font-face {
    font-family: freight big pro black;
     src: url(.C:/Users/Excel/ANMOL/WORKS WEBSITE/FreightBigProBlack-Regular.ttf);
}
@font-face {
     font-family: freight big pro light;
    src: url(.C:/Users/Excel/ANMOL/WORKS WEBSITE/FreightBigProLight-Regular.ttf);
}
@font-face {
    font-family: stephen type;
    src: url(.C:/Users/Excel/ANMOL/WORKS WEBSITE/StephenType.otf);
}
@font-face {
    font-family: buttermilk;
    src: url(.C:/Users/Excel/ANMOL/WORKS WEBSITE/Buttermilk.woff2);
}
@font-face {
    font-family: nimbus san;
    src: url(.C:/Users/Excel/ANMOL/WORKS WEBSITE/NimbusSanL-Reg.otf);
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
}
html , body{
    width: 100%;
    height: 100%;
}

body{
    background-color: #dadada;
}



/* form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}

input{
    height: 38px;
    width: 160px;
}

.sumbit{
    width: 140px;
} */

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50vh;

}

.nav button{
    height: 52px;
    width: 84px;
}

.nav button:hover{
    transform: rotateX('15');


}