<% include ./partials/head.ejs %>



<!-- <form class="form" action="/login" method="post">
      <input type="button" value="sumbit">
      <button type="submit" name="submit">loginn</button>
    </form> -->

<div class="container1">
  <form class="form" action="/login" method="post">
    <h2>Social Media Login</h2>
    <!-- <br /><br /> -->
    <div class="form-group">
      <div class="container">
        <label for="email">Email:</label>
        <input
          class="input"
          type="email"
          name="email"
          placeholder="Enter Your Email Address"
          required
        />
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <!-- <input type="password" id="pass" name="pass" placeholder="Enter your password" required> -->
      <div class="container">
        <input
          class="input"
          type="password"
          name="password"
          id="pass"
          placeholder="Password"
          required
        />

        <!-- <input id="pass" type="password" placeholder="password" required> -->

        <span id="fakepass">Password</span>
        <button type="button" id="reveal" disabled="disabled">
          <span></span>
        </button>
      </div>
    </div>
    <div class="form-group">
      <input type="reset" />
    </div>
    <div class="form-group">
      <input class="sumbit" type="submit" value="Login" />
    </div>
  </form>
</div>



<% include ./partials/foot.ejs %>